.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 115px;
  background-color: #d6e7f5;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  padding: 0 3rem;
}
.logo {
  margin-right: 5rem;
}

.search-bar {
  display: flex;
  align-items: center;

  flex: 1;
  height: 55px;
  border-radius: 26px;

  background: #e9f1fa;
  position: relative;
  z-index: 100;
}

.search-logo {
}

.search-input {
  font-size: 16px;
  line-height: 26px;

  color: #18333e;
  background-color: transparent;
  border: none;
}
.search-bar form {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
.search-input:focus {
  outline: none;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 53px;
  height: 53px;

  background: #18333e;
  border-radius: 50%;
}

.location::before {
  content: "";
  width: 10px;
  height: 100%;

  background-color: #b4bcc4;
}

.location {
  display: flex;
  align-items: center;
}

.location-logo {
}

.location-city {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: #18333e;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 53px;
  height: 53px;

  border: 1px solid #b4bcc4;
  border-radius: 50%;
}

.notification-logo {
  background: transparent;
}

.notification-logo.active {
  content: "";
  position: absolute;

  top: -5px;
  right: -5px;

  width: 10px;
  height: 10px;

  background-color: #ff7f5c;
  border-radius: 50%;
}

.person {
  width: 53px;
  height: 53px;
}

.blur {
  position: absolute;

  inset: 0;
  min-height: 120vh;
  min-width: 100vw;

  transition: 1s;
  z-index: -1;
}
.blur.active {
  background: rgba(0, 0, 0, 50%);
  z-index: 90;
}

.image-preview {
  position: absolute;
  object-fit: cover;
  width: 80vw;
  height: 80vh;
  z-index: 1000;

  inset: 0;
  margin: auto;
}
